
    body {
            margin: 0;
            font-family: "Roboto", sans-serif;
    }
    .IM1 {
        background-color: rgb(217, 217, 233);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px;
        
    }
    .heder_links a {
        color: rgb(0, 0, 0);
        padding: 5px 25px;
        text-decoration: none;
        border-radius: 15px;
    }
    .heder_links :hover {
        background-color: #ff9d9d ;
    }
        
    .ptn {
        background-color: brown;
        padding: 5px 15px;
        color: white;
        border: none;
        border-radius: 15px;
    }
    .ptn:hover {
        background-color: #cc1c1c;
    }
        
    .landing-page {
        background-color: rgb(217, 217, 233);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 100px;
        color: rgb(0, 0, 0);
        border-radius: 0 0 50px 50px;
    }
    .landing-page-left-section {
         width: 500px;
    }
    .landing-page-search input {
        border-radius: 50px;
        border: none;
        outline: none;
        height: 30px;
        padding: 0 10px;
    }
    .landing-page-search button {
        position: absolute;
        left: 250px;
        height: 30px;
    }
    .landing-page-image-container img {
        border-radius: 20px;
        width: 250px;

    }
    .tredin-container {
        padding: 100px 100px;
    }
    .tredin-container span {
        color: #cc1c1c;
        text-transform: uppercase;
        font-size: 14px;
    }
    .trendin-gheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
            
    }

    .trendin-gheader h1 {
        margin-top: 0;

    }
    .trendig-cards {
        display: flex;
        gap: 20px;
    }
    .card {
        width: 250px;
        height: 420px; /* اجعل كل الكروت نفس الطول */
        border: 1.5px solid #d0d0d0;
        border-radius: 20px;
        overflow: hidden;
        background-color: #fff;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    
    .card .thumb {
        width: 100%;
        height: 250px; /* ارتفاع ثابت للصورة */
        object-fit: cover; /* قص الصورة بشكل جميل */
        border-radius: 20px 20px 0 0;
    }
    .card-info {
       padding: 15px;
    text-align: center;
    }
    .shop-now {
        background: #007bff;
        color: white;
        padding: 12px 25px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s ease;
        font-weight: bold;
        width: 90%;
        margin: 10px auto 20px;
        display: block;
    }
    
    
    .shop-now:hover {
        animation: shake 0.4s linear;
        background: #0056c7;
    }

    /* حركة الاهتزاز */
    @keyframes shake {

        0% { transform: translateX(0); }
        20% { transform: translateX(-3px); }
        40% { transform: translateX(3px); }
        60% { transform: translateX(-3px); }
        80% { transform: translateX(3px); }
        100% { transform: translateX(0); }
    }
    .htp {
        color: rgb(0, 5, 5);
        border: none;
        padding: 0 10px;
        text-align: center;
    }
    /* حاوية الصور */
    .img-box {
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
    }

     /* الصورة الأساسية */
    .img-main {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.3s ease;
}

/* صورة hover */
    .img-hover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; /* مخفية */
        transition: opacity 0.3s ease;
    }

     /* عند تمرير الماوس تظهر الصورة الثانية */
    .card:hover .img-hover {
    opacity: 1;
    }

     /* تخفي الصورة الأولى */
    .card:hover .img-main {
        opacity: 0;
    }



    
    
    